<link rel="stylesheet" href="style.css">

<html>
<body>

  <button type="button" class="logoutbtn" id="logoutbtn"> <a href="login.html">Logout</a></button>

<div class="homepagecontainer">

  <img src="/Frontend/View/lovepicture.jpg" alt="Picture of Heart">

  <div class="welcome">
    <h1> <u>Welcome to your account at WeMatch!</u></h1>
    <h3>What is the main purpose of WeMatch?</h3>
    <p>
      This is a danish networking and online dating application 
      that allows users to
      <br>
      like or dislike other profiles from our system
      based on your common interests.
      <br>
    </p>

    <h4>Why find a possible match for you?</h4>
    <p>hyperbiotics.com explains the benefits of <a href="https://www.hyperbiotics.com/blogs/recent-articles/how-love-improves-your-health-and-impacts-your-life">
      How Love Improves Your Health and Impacts Your Life</a>.</p>
      <p>"1. Love Reduces Stress"
      <br>
      "2. Love Boosts Immune Health"
      <br>
      "3. Love Relieves Pain"
      <br>
      "4. Love Extends Your Life"
      <br>
    </p>
    <h4>Do you want to find your perfect match? See below for current registered users!</h4>
  </div>

  <div>
    <form class = "account" id="account"> 
      <h1>Update or delete your account?</h1>
      <h4>Make your changes below!</h2>
      <hr>
      <label for="fname"><b>Fullname</b></label>
      <input type="text" placeholder="Enter fullname" name="fname" id="fname" required>
      <br>

      <label for="bday"><b>Birthday</b></label>
      <input type="date" placeholder="Enter birthday" name="bday" id="bday" required>

      <label for="age"><b>Age</b></label><br>
      <input type="number" placeholder="Enter age" name="age" id="age" required>
      <br>

      <label for="gender"><b>Gender</b></label><br>
      <input type="text" placeholder="Enter gender" name="gender" id="gender" required>
      <br>

      <label for="city"><b>City</b></label><br>
      <input type="text" placeholder="Enter city" name="city" id="city" required>
      <br>

      <label for="int1"><b>Interest</b></label><br>
      <input type="text" placeholder="Enter one of your interest" name="int1" id="int1" required>

      <label for="int2"></label><br>
      <input type="text" placeholder="Enter another of your interest" name="int2" id="int2" required>

      <label for="int3"></label><br>
      <input type="text" placeholder="Enter another of your interest" name="int3" id="int3" required>
      <br>

      <label for="email"><b>Email</b></label>
      <input type="email" placeholder="Enter email" name="email" id="email" required>
      <br>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter password" name="psw" id="psw" required>
      <br>

      <button type="button" class="updatebtn" id="updatebtn">Update account</button>
      <button type="button" class="deletebtn" id="deletebtn">Delete account</button>
    </form>
  </div>

  <div class="potentialmatches" id="potentialmatches"> 
    <h1><u>Registered users</h1></u>
    <h2>Press "Like" if you want to create a potential match!</h2>
    <table class="matchtable" id="matchtable">
      <tr>
        <th>Full name</th>
        <th>Birthday</th>
        <th>Age</th>
        <th>Gender</th>
        <th>City</th>
        <th>Interest</th>
        <th>Interest</th>
        <th>Interest</th>
        <th class="like"><u>Like</u></th>
        <th class="dislike"><u>Dislike</u></th>
      </tr>
    </table>
  </div>  

  <div class="likedmatches" id="likedmatches"> 
    <h1><u>Your liked matches</h1></u>
    <table class="listofmatches" id="listofmatches">
      <tr>
        <th>Full name</th>
        <th>Birthday</th>
        <th>Age</th>
        <th>Gender</th>
        <th>City</th>
        <th>Interest</th>
        <th>Interest</th>
        <th>Interest</th>
      </tr>
    </table>
    <button class= "removematchbuttondiv" id= "removematchbuttondiv">Remove Match</button>
  </div>


</div>
</body>
</html>


<script src="/Frontend/Controller/homepage.js"></script>