<link rel="stylesheet" href="style.css">

<html>
<body>

<div class="admincontainer">

  <table contenteditable="true" class="admintable" id="admintable">
    <tr>
      <th>User ID</th>
      <th>Full name</th>
      <th>Birthday</th>
      <th>Age</th>
      <th>Gender</th>
      <th>City</th>
      <th>Interest 1</th>
      <th>Interest 2</th>
      <th>Interest 3</th>
      <th>Email</th>
      <th>Password</th>
    </tr>
  </table>
<br>
  <button type="button" class="adminupdate" id="adminupdate">Click to update users</button>

  <p>Not an admin? <a href="login.html">login</a>. or <a href="register.html">register</a></p> 

</div>
</body>
</html>
<script src="/Controller/adminhomepage.js"></script>