<link rel="stylesheet" href="style.css">

<html>
<body>

  <p>Admin login <a href="adminlogin.html">Sign in</a>.</p>

<div class="container">

  <form action="/action_page.php">  

      <h1>Admin login</h1>
      <p>Please fill in this form to login.</p>
      <hr>

      <label for="email"><b>Email</b></label>
      <input type="email" placeholder="Enter Email" name="email" id="email" required>
      <br>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
      <br>

      <button type="submit" class="registerbtn">Register</button>

      <p>Not an admin? <a href="login.html">login</a>. or <a href="register.html">register</a></p>      

  </form>
</div>
</body>
</html>