  * {
    box-sizing: border-box;
  }
  
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin-top: 1%;
    margin-bottom: 0%;
  }

  /* Add padding to containers */
  .container {
    margin: auto;
    width: 40%;
    background-color: white;
  }
  
  /* Full-width input fields */
  input {
    width: 100%;
    padding: 13px;
    height: 1%;
    margin: 5px 0 14px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  
  /* Style for the buttons */
  .registerbtn {
    background-color: dodgerblue;
    color: white;
    padding: 5px 10px;
    margin: 4px 0;
    border: none;
    width: 100%;
    opacity: 0.9;
  }
  .loginbtn {
    background-color: dodgerblue;
    color: white;
    padding: 5px 10px;
    margin: 4px 0;
    border: none;
    width: 100%;
    opacity: 0.9;
  }
  .logoutbtn {
    color: white;
    float: right;
    padding: 5px 10px;
    margin: 1% 2%;
    border: none;
  }
  .updatebtn {
    background-color: dodgerblue;
    color: white;
    padding: 5px 10px;
    margin: 4px 0;
    border: none;
    width: 100%;
    opacity: 0.9;
  }
  .deletebtn {
    background-color: dodgerblue;
    color: white;
    padding: 5px 10px;
    margin: 4px 0;
    border: none;
    width: 100%;
    opacity: 0.9;
  }

  /* Add a blue text color to links */
  a {
    color: dodgerblue;
    font-size: large;
  }